.page {
    overflow: hidden;
    height: 100%;
    background: url('./res/png/background.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    user-select: none;
    -webkit-user-drag: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    flex-basis: 400px;
}

.title img {
    height: 190px;
    user-select: none;
    -webkit-user-drag: none;
}

.page-preview-button {
    visibility: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    width: 90%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    visibility: hidden;
}

.preview-title {
    position: absolute;
    top: 3%;
    left: 30px;
    height: 40px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
}

.preview-back {
    cursor: pointer;
}

.preview-title img {
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.container .image-wrapper {
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    z-index: 2;
    user-select: none;
    -webkit-user-drag: none;
}

.container .image-wrapper:hover {
    opacity: 0.7;
}

.container .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.preview-text {
    position: absolute;
    bottom: 3%;
    right: 30px;
    height: 40px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
}

.preview-text img {
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}
