.page {
    overflow: hidden;
    height: 100%;
    background: url('./res/jpg/background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-left: 100px;
    user-select: none;
    -webkit-user-drag: none;
    display: none;
    visibility: hidden;
}

.title img {
    height: 190px;
    user-select: none;
    -webkit-user-drag: none;
}

.page-detail {
    position: absolute;
    right: 0;
    display: none;
    visibility: hidden;
}

.page-preview {
    position: absolute;
    left: 50%;
    bottom: 1%;
    display: none;
    visibility: hidden;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    display: none;
    visibility: hidden;
}

.container .image-wrapper {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
